/* ArticleList.css */

/* Hide the scrollbar but keep scroll functionality */
.scrollable-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scrollable-content {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
