.FOOTER .footer {
  background-color: transparent;
  height: 507px;
  left: 0;
  position: absolute;
  top: 1200px;
  width: 1446px;
}

.FOOTER .overlap-group {
  background-color: #0000ffcc;
  height: 507px;
  position: relative;
  width: 1440px;
}

.FOOTER .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 679px;
  position: absolute;
  top: 244px;
}

.FOOTER .text-wrapper {
  color: var(--text);
  font-family: var(--title-20px-medium-font-family);
  font-size: var(--title-20px-medium-font-size);
  font-style: var(--title-20px-medium-font-style);
  font-weight: var(--title-20px-medium-font-weight);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  color: #ffffff;
}

.FOOTER .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  color: #ffffff;
}

.FOOTER .text-wrapper-2 {
  color: var(--text);
  font-family: var(--title-16px-regular-font-family);
  font-size: var(--title-16px-regular-font-size);
  font-style: var(--title-16px-regular-font-style);
  font-weight: var(--title-16px-regular-font-weight);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.FOOTER .text-wrapper-3 {
  color: var(--text);
  font-family: var(--title-16px-regular-font-family);
  font-size: var(--title-16px-regular-font-size);
  font-style: var(--title-16px-regular-font-style);
  font-weight: var(--title-16px-regular-font-weight);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.FOOTER .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 923px;
  position: absolute;
  top: 244px;
}

.FOOTER .text-wrapper-4 {
  color: var(--text);
  font-family: var(--title-16px-regular-font-family);
  font-size: var(--title-16px-regular-font-size);
  font-style: var(--title-16px-regular-font-style);
  font-weight: var(--title-16px-regular-font-weight);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  margin-top: -1px;
  position: relative;
  width: 139px;
}

.FOOTER .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 463px;
  position: absolute;
  top: 244px;
}

.FOOTER .text-wrapper-5 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
}

.FOOTER .p {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 624px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 78px;
}

.FOOTER .text-wrapper-6 {
  color: #ffffff;
  font-family: "Playfair Display", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
}

.FOOTER .line {
  height: 2px;
  left: 624px;
  object-fit: cover;
  position: absolute;
  top: 122px;
  width: 709px;
}

.FOOTER .img {
  height: 1px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 1316px;
}

.FOOTER .ep-back {
  height: 24px;
  left: 1257px;
  position: absolute;
  top: 76px;
  width: 51px;
}

.FOOTER .group {
  height: 78px;
  left: 100px;
  position: absolute;
  top: 322px;
  width: 129px;
}

.FOOTER .text-wrapper-7 {
  color: var(--text);
  font-family: var(--title-20px-medium-font-family);
  font-size: var(--title-20px-medium-font-size);
  font-style: var(--title-20px-medium-font-style);
  font-weight: var(--title-20px-medium-font-weight);
  left: 0;
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.FOOTER .iconoir-facebook {
  height: 24px;
  left: 52px;
  position: absolute;
  top: 54px;
  width: 24px;
}

.FOOTER .hugeicons-instagram {
  height: 24px;
  left: 3px;
  position: absolute;
  top: 54px;
  width: 24px;
}

.FOOTER .devicon-twitter {
  height: 24px;
  left: 101px;
  position: absolute;
  top: 54px;
  width: 24px;
}
