.header {
  background-color: white;
  color: black;
  padding: 25px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-family: "Poppins", sans-serif;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.logo {
  width: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 0, 255, 1);
  font-family: "Poppins", sans-serif;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 60px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 30px;
}

.nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: #73736f;
  font-weight: bold;
}

.uploadButton {
  background-color: rgba(0, 0, 255, 1);
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 255, 1);
}

.uploadButton:hover {
  background-color: white;
  color: rgba(0, 0, 255, 1);
  border: 1px solid rgba(0, 0, 255, 1);
}

.navLink1 {
  color: rgba(0, 0, 255, 1);
  border-bottom: 2px solid rgba(0, 0, 255, 1);
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: bold;
}
