.upload-page {
  padding: 20px;
}

.authors input {
  display: block;
  margin-bottom: 10px;
}
.no-file-link {
  text-align: center;
  font-size: 14px;
  color: #333; /* Dark gray color for the link */
}

.no-file-link a {
  color: #007bff; /* Customize link color, for example, blue */
  text-decoration: underline;
  cursor: pointer;
}

.no-file-link a:hover {
  color: #0056b3; /* Darker blue on hover */
}
