@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn-primary {
    @apply border-2 flex justify-center gap-2 items-center mt-5 p-2 rounded-md w-56 font-semibold;
  }
  .btn-text {
    @apply uppercase text-gray-500 text-sm;
  }
  .form-input {
    @apply border-2  py-1 pl-5 pr-10 rounded w-full;
  }
  .form-input-icon {
    @apply absolute right-2 top-1/2 ;
  }

  .form-responsive {
    @apply lg:w-1/3 md:w-2/5 xl:w-1/4 ;
  }
}
